@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	position: relative;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color:white;
	overflow: hidden;
	-ms-overflow-style:none;
}

#page{
	width: 1300px;
	height: 740px;
	-ms-overflow-style:none;
}

h1, h2, h3, h4, h5, h6{
	color:#F4A909;
}

.submitButton{
	position: absolute;
	background-image: url('../images/butt_submit_static.png');
	width: 117px;
	height:36px;
	top: 610px;
    left: 594px;
	cursor:pointer;
}

.questionRem{
	position: relative;
	width: 80%;
	height:80%;
	top:20px;
	margin:0 auto;
	display:none;
	background-color: black;
	z-index: 9000;
	opacity: .9;
}

.correctRem{
	position: relative;
	font-size: 40px;
	color:white;
	text-align: center;
	top:210px;
	opacity: 0;
	margin:0 auto;
}

.incorrectRem{
	position: relative;
	font-size: 40px;
	color:white;
	text-align: center;
	top:34px;
	opacity: 0;
	margin:0 auto;	
}